.login-modal {
    .modal-header-small {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .modal-body {
        background-color: #f4f4f4;
    }
    .control-label {
        padding-right: 0;
    }
    .form-group:last-of-type {
        margin-bottom: 6px;
    }
}
